/* light theme and overarching styles */
.prose h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kaisei Tokumin';
  font-weight: 700;
  margin: 1rem 0rem 1rem 0rem;
  color: black;
}
.prose h1 {
  font-size: 2.25rem;
  margin: 0rem 0rem 2rem 0rem;
  line-height: 2.5rem;
}
.prose hr {
  border-color: rgba(125, 125, 125, 0.3);
  margin-top: 3em;
  margin-bottom: 3em;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose a code {
  color: #111827;
}
.prose pre {
  color: #e5e7eb;
  overflow-x: auto;
  line-height: 1.4;
  font-size: 1.05em;
  border-radius: 0.375rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
}
.prose pre code::before {
  content: none;
}
.prose pre code::after {
  content: none;
}
.prose code {
  font-size: 0.875em;
}
.prose code::before {
  content: '`';
}
.prose code::after {
  content: '`';
}

/* dark theme */
html.dark .prose h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
