---
import Default from '@layouts/Default.astro';
---

<Default title="404" description="404" image="/naus-404.jpg">
  <section>
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">404</h1>
    <p class="mt-4 mb-6">
      This path doesn't exist! Feel free to navigate back <a class="mlink" href="/" title="Home">home</a>.
    </p>
  </section>

  <img src="/naus-404.jpg" height={1038} width={1920} class="rounded" alt="Nausicaä of the Valley of the Wind - 404 Picture" />
</Default>
