---
import Default from '@layouts/Default.astro';
import { Image } from 'astro:assets';
import naus from "../../public/naus-404.jpg";
---

<Default title="404" description="404" image="/naus-404.jpg">
  <section class="mb-6">
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">404</h1>
    <p>
      This path doesn't exist! Feel free to navigate back <a class="mlink" href="/" title="Home">home</a>.
    </p>
  </section>

  <Image src={naus} quality="max" height={1038} width={1920} class="rounded my-10" alt="Nausicaä of the Valley of the Wind - 404 Picture" />
</Default>
