---
import Default from '@layouts/Default.astro';

// Astro.glob() to fetch all blog posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.md')).sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<Default title="Blog – Max DeMaio" image="https://maxdemaio.com/spirited-blog.jpg" description="All my blog posts in one place.">
  <section>
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Blog</h1>
    <p class="mt-4 mb-6">
      <span class="font-bold text-gray-600 dark:text-gray-400">max overflow</span> is a blog about software, language, and business. Sometimes my thoughts overflow and end up here for safekeeping. So far,
      I've written {posts.length} posts.
    </p>
  </section>
  <section class="mb-4">
    <ul class="space-y-4">
      {
        posts.map((post) => (
          <>
            <li>
              <a href={post.url} class="group">
                <div class="transf text-black dark:text-white opacity-60 group-hover:opacity-100">{post.frontmatter.title}</div>
                <div class="transf opacity-40 group-hover:opacity-80">
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                      year: 'numeric',
                      month: 'short',
                      day: 'numeric',
                    })}
                  </time>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>

    <div></div>
  </section>

  <img src="/spirited-blog.jpg" height={1038} width={1920} class="rounded" alt="Spirited Away - Blog Picture" />
</Default>
