---
import Default from '@layouts/Default.astro';

// Astro.glob() to fetch all blog posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Default title="Blog Page" description="Blog page">
  <section>
    <h1 class="font-kai font-bold text-4xl mb-8">Blog</h1>
    <p class="mt-4 mb-6">
      <strong>max overflow</strong> is a blog about software, language, and business.
      Sometimes my thoughts overflow and end up here for safekeeping. So far, I've
      written {posts.length} posts.
    </p>
  </section>
  <section>
    <ul class="space-y-4">
      {
        posts.map((post) => (
        <a href={post.url}>
          <li class="opacity-80 hover:opacity-100">
            {post.frontmatter.title}
            <time datetime={post.frontmatter.pubDate}>
              {new Date(post.frontmatter.pubDate).toLocaleDateString(
                "en-us",
                {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                }
              )}
            </time>
          </li>
        </a>
        ))
      }
    </ul>
  </section>
</Default>



