---
import Default from '../layouts/Default.astro';
---

<Default  title="home page" description="home page">
  <div class="flex items-center justify-center flex-wrap">
    <div class="font-kai font-bold flex-1 mr-2 mb-6">
      <h1 class="text-5xl text-black dark:text-white">Maxwell DeMaio</h1>
      <h2 class="text-4xl text-gray-600 dark:text-gray-400">Software Developer in Providence, RI</h2>
    </div>

    <div>
      <img src="/me2.jpeg" class="rounded-3xl" height={260} width={260} alt="profile picture" />
    </div>
  </div>

  <section>
    <p class="mt-6 mb-4">
      Hi, I'm Max! I'm a self-taught software developer with a strong will to learn, research new technologies, and design software architecture. I like creating practical business solutions and
      making development processes as efficient as possible. Currently, I'm working as an Associate Software Developer at{' '}
      <a class="text-primary-light dark:text-primary-dark underline" href="https://www.logicmanager.com"> LogicManager</a>{' '}
      where I work with frontend and backend technologies in an agile environment.
    </p>
    <p class="my-4">
      I'm working on growing my skills and gaining exposure to a variety of technology, whether that be through work or personal projects. When I'm not glued to my computer, I enjoy playing the
      guitar, chess, and learning languages. Also, I believe in hard work, curiosity, and diversity.
    </p>
    <p class="my-4">
      You can follow me on{' '}
      <a class="text-primary-light dark:text-primary-dark underline" href="https://twitter.com/maxwelldemaio"> Twitter</a>{' '}
      where I mostly post about software, language, and business. My open source projects are publicly available on{' '}
      <a class="text-primary-light dark:text-primary-dark" href="https://github.com/maxdemaio"> GitHub</a>
      . Please feel free to reach out and contact me at{' '}
      <a class="text-primary-light dark:text-primary-dark" href="mailto:maxwell.demaio@gmail.com"> maxwell.demaio@gmail.com</a>
      .
    </p>
  </section>
</Default>
