---
import Default from '@layouts/Default.astro';
---

<Default title="Home - Max DeMaio" description="Max DeMaio's personal website">
  <div class="flex items-center justify-center flex-wrap mb-11">
    <div class="font-kai font-bold flex-1 mr-2 mb-6">
      <h1 class="text-5xl text-black dark:text-white">Maxwell DeMaio</h1>
      <h2 class="text-4xl text-gray-600 dark:text-gray-400">Software Developer in Providence, RI</h2>
    </div>
    <img src="/me2.jpeg" class="rounded-3xl" height={260} width={260} alt="profile picture" />
  </div>

  <section>
    <p class="mb-4">
      Hi, I'm Max! I'm a self-taught software developer with a strong will to learn, research new technologies, and
      design software architecture. I like creating practical business solutions and making development processes as
      efficient as possible. Currently, I'm working as an Associate Software Developer at
      <a class="mlink" href="https://www.logicmanager.com"> LogicManager</a>
       where I work with frontend and backend technologies in an agile environment.
    </p>
    <p class="mb-4">
      I'm working on growing my skills and gaining exposure to a variety of technology, whether that be through work or
      personal projects. When I'm not glued to my computer, I enjoy playing the guitar, chess, and learning languages.
      Also, I believe in hard work, curiosity, and diversity.
    </p>
    <p class="mb-4">
      You can find me on
      <a href="https://github.com/maxdemaio" class="mlink">
        <span class="i-carbon-logo-github"></span>
         GitHub</a
      >,
      <a href="https://youtube.com/@maxwelldemaio" class="mlink">
        <span class="i-carbon-logo-youtube"></span>
         YouTube</a
      >, and
      <a href="#" class="mlink">
        <span class="i-carbon-logo-linkedin"></span>
         LinkedIn</a
      >. Please feel free to reach out and contact me at
      <a href="mailto:maxwell.demaio@gmail.com" class="mlink"> maxwell.demaio@gmail.com</a>.
    </p>
  </section>
</Default>
