---
import Default from '@layouts/Default.astro';
---

<Default title="Tumblr Redirect - Max DeMaio" description="Max DeMaio's Tumblr Redirect" tumblrRedir={true}>
  <section class="mb-6">
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Tumblr Redirect</h1>
  </section>
</Default>
