---
import Default from '@layouts/Default.astro';
---

<Default title="Projects – Max DeMaio" image="/castle-projects.jpg" description="Featured projects as well as the technology I use to build business and software architecture.">
  <section class="mb-6">
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Projects</h1>
    <p>
      Here you'll find my featured projects. My open source work is located on
      <a href="https://github.com/maxdemaio" class="mlink">
        <span class="i-uil-github"></span>
        GitHub</a
      >. If you'd like to support my open source work, feel free to visit my
      <a href="https://github.com/sponsors/maxdemaio" class="mySponsorLink"> GitHub Sponsors page <span class="i-twemoji-sparkling-heart"></span></a>.
    </p>
  </section>
  <section class="mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/thelangbot" class="mlink opacity-100"> The Language Bot</a>
        <span class="mprojItem">
          is a Twitter bot to help individuals learn foreign languages. It naturally built a community through tweets by retweeting #langtwt and #100DaysOfLanguage. Archived since the monetization of
          the Twitter API.</span
        >
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/hack-computer" class="mlink"> Hack Computer</a>
        <span class="mprojItem">
          is a computer system built from the ground up as described in the book, "The Elements of Computing Systems". Made with hardware description language, assembly, and Java.
        </span>
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://chessheat.com" class="mlink"> Chess Heat</a>
        <span class="mprojItem">
          fetches monthly PGN files from Chess.com and creates a heatmap of a player's game activity over the year. It's a fun and easy way to track consistency over time! Created with
          HTML/CSS/JavaScript.
        </span>
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/langlab" class="mlink"> LangLab</a>
        <span class="mprojItem">
          is a free and open source language learning website that allows users to practice the conjugations of the 25 most common verbs in English. Helpful resources have also been provided to help
          learners on their path.
        </span>
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/house_party" class="mlink"> House Party</a><span class="mprojItem"
          >, a Spotify collaborative music playing system built with React and Django REST. With Spotify authentication, listeners can create listening parties others can join. One can pause/play and
          skip tracks from the host's music queue.
        </span>
      </div>
    </div>
  </section>

  <img src="/castle-projects.jpg" height={1038} width={1920} class="rounded my-10" alt="Castle in the Sky - Projects Picture" />
</Default>
