---
import Default from "@layouts/Default.astro";
---

<Default title="Software page" description="software page">
  <section>
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Projects</h1>

    <p class="mt-4 mb-6">
      Here you'll find my featured projects as well as the technology I use to
      build business and software architecture. The remainder of my open
      source work is located on
      <a class="text-primary-light dark:text-primary-dark border-b-1 border-primary-light dark:border-primary-dark">
        <span class="i-uil-github" />
        GitHub</a>.
    </p>
  </section>
  <section class="mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div
        class="transform transition duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 rounded p-4"
      >
        <p
          class="transform transition duration-300 ease-in-out dark:hover:text-white hover:text-black text-gray-700 dark:text-gray-400"
        >
          <a
            href="https://github.com/maxdemaio/thelangbot"
            class="text-primary-light dark:text-primary-dark underline"
          >
            The Language Bot
          </a>{" "}
          is a Twitter bot to help individuals learn foreign languages. It is
          naturally building a community through tweets by retweeting #100DaysOfLanguage
          and #langtwt.
        </p>
      </div>
      <div
        class="transform transition duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 rounded p-4"
      >
        <p
          class="transform transition duration-300 ease-in-out dark:hover:text-white hover:text-black text-gray-700 dark:text-gray-400"
        >
          <a
            href="https://github.com/maxdemaio/hack-computer"
            class="text-primary-light dark:text-primary-dark underline"
          >
            Hack Computer
          </a>{" "}
          is a computer system built from the ground up as described in the book,
          "The Elements of Computing Systems". Made with hardware description
          language, assembly, and Java.
        </p>
      </div>
      <div
        class="transform transition duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 rounded p-4"
      >
        <p
          class="transform transition duration-300 ease-in-out dark:hover:text-white hover:text-black text-gray-700 dark:text-gray-400"
        >
          <a
            href="https://github.com/maxdemaio/langlab"
            class="text-primary-light dark:text-primary-dark underline"
          >
            LangLab
          </a>{" "}
          is a free and open source language learning website that allows users
          to practice the conjugations of the 25 most common verbs in English.
          Helpful resources have also been provided to help learners on their
          path.
        </p>
      </div>
      <div
        class="transform transition duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-900 rounded p-4"
      >
        <p
          class="transform transition duration-300 ease-in-out dark:hover:text-white hover:text-black text-gray-700 dark:text-gray-400"
        >
          <a
            href="https://github.com/maxdemaio/house_party"
            class="text-primary-light dark:text-primary-dark underline"
          >
            House Party
          </a>
          , a Spotify collaborative music playing system built with React and
          Django REST. With Spotify authentication, listeners can create listening
          parties others can join. One can pause/play and skip tracks from the
          host's music queue.
        </p>
      </div>
    </div>
  </section>

  <img src="/castle-projects.jpg" height={1038} width={1920} class="rounded" alt="Castle in the Sky - Projects Picture" />

</Default>
