---
import ProjectGridItem from '@components/ProjectGridItem.astro';
import Default from '@layouts/Default.astro';
import ProjectGrid from '@layouts/ProjectGrid.astro';
---

<Default title="Projects – Max DeMaio" image="/castle-projects.jpg" description="Featured projects as well as the technology I use to build business and software architecture.">
  <section class="mb-6">
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Projects</h1>
    <p>
      Here you'll find my featured projects. My open source work is located on
      <a href="https://github.com/maxdemaio" class="mlink">
        <span class="i-carbon-logo-github"></span>
        GitHub</a
      >. If you'd like to support my open source work, feel free to visit my
      <a href="https://github.com/sponsors/maxdemaio" class="mySponsorLink"> GitHub Sponsors page <span class="i-twemoji-sparkling-heart"></span></a>.
    </p>
  </section>
  <section class="mb-4">
    <ProjectGrid>
      <ProjectGridItem
        link='https://chessheat.com'
        linkName='Chess Heat'
        description="fetches monthly chess games from Chess.com and creates a heatmap of a player's game activity over the year. It's a fun and easy way to track consistency over time! Created with HTML, CSS, and JavaScript."
      />
      <ProjectGridItem
        link='https://github.com/maxdemaio/hack-computer'
        linkName='Hack Computer'
        description='is a computer system built from the ground up as described in the book, "The Elements of Computing Systems." Made with hardware description language, assembly, Python, and Java.'
      />
      <ProjectGridItem
        link='https://github.com/maxdemaio/leetcode'
        linkName='Data Structures and Algorithms'
        description='is a repository of programming problem solutions. It spans various categories such as: arrays & hashing, two pointers, stacks, sliding window, linked list, binary search, trees, tries, heap/priority queues, backtracking, and more. All test cases are verified via GitHub Actions.'
      />
      <ProjectGridItem
        link='https://github.com/maxdemaio/thelangbot'
        linkName='The Language Bot'
        description='is a Twitter bot to help individuals learn foreign languages. It naturally built a community by retweeting #langtwt and #100DaysOfLanguage hashtagged tweets. Archived since the monetization of the Twitter API. Built with Python, CRON, and Docker.'
      />
      <ProjectGridItem
        link='https://github.com/maxdemaio/langlab'
        linkName='LangLab'
        description='is a free and open source language learning website that allows users to practice the conjugations of the 25 most common verbs in English. Helpful resources have also been provided to help learners on their path.'
      />
      <ProjectGridItem
        link='https://github.com/maxdemaio/house_party'
        linkName='House Party'
        description="is a Spotify collaborative music playing system built with React and Django REST. With Spotify authentication, listeners can create listening parties others can join. One can pause/play and skip tracks from the host's music queue."
      />
    </ProjectGrid>
  </section>

  <img src="/castle-projects.jpg" height={1038} width={1920} class="rounded my-10" alt="Castle in the Sky - Projects Picture" />
</Default>
