---
import Default from '@layouts/Default.astro';
---

<Default title="Projects – Max DeMaio" image="/castle-projects.jpg" description="Featured projects as well as the technology I use to build business and software architecture.">
  <section>
    <h1 class="text-black dark:text-white font-kai font-bold text-4xl mb-8">Projects</h1>

    <p class="mt-4 mb-6">
      Here you'll find my featured projects. The remainder of my open source work is located on
      <a href="https://github.com/maxdemaio" class="mlink">
        <span class="i-uil-github"></span>
        GitHub</a
      >.
    </p>
  </section>
  <section class="mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/thelangbot" class="mlink opacity-100"> The Language Bot</a>
        <span class="mprojItem"> is a Twitter bot to help individuals learn foreign languages. It is naturally building a community through tweets by retweeting #100DaysOfLanguage and #langtwt.</span>
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/hack-computer" class="mlink"> Hack Computer</a>
        <span class="mprojItem">
          is a computer system built from the ground up as described in the book, "The Elements of Computing Systems". Made with hardware description language, assembly, and Java.
        </span>
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/langlab" class="mlink"> LangLab</a>
        <span class="mprojItem">
          is a free and open source language learning website that allows users to practice the conjugations of the 25 most common verbs in English. Helpful resources have also been provided to help
          learners on their path.
        </span>
      </div>
      <div class="group rounded p-4 bg-transparent hover:bg-#88888808">
        <a href="https://github.com/maxdemaio/house_party" class="mlink"> House Party</a>
        <span class="mprojItem">
          , a Spotify collaborative music playing system built with React and Django REST. With Spotify authentication, listeners can create listening parties others can join. One can pause/play and
          skip tracks from the host's music queue.
        </span>
      </div>
    </div>
  </section>

  <img src="/castle-projects.jpg" height={1038} width={1920} class="rounded" alt="Castle in the Sky - Projects Picture" />
</Default>
