---
const today = new Date();
---

<footer class="prose mt-6 mb-10 lt-xs:px-4 px-8 max-w-3xl mx-auto text-lg">
  <p>
    <a href="/blog" title="Back to blog link">← Back</a>
    <button title="Top button" id="top-button" class="cursor-pointer float-right">
      <a>↑ Top</a>
    </button>
  </p>

  <hr />

  <p>
    <span class="font-bold text-black dark:text-white">max overflow</span> is a blog about software, language, and business. Sometimes my thoughts overflow and end up here for safekeeping.
  </p>
  <p>
    For corrections (typos, factual inaccuracies), please file a
    <a href="https://github.com/maxdemaio/max-astro/issues"> 
      <span class="i-uil-github"/>
      GitHub issue</a>.
  </p>

  <p>
    Website designed by Max DeMaio &copy; {today.getFullYear()}
  </p>
</footer>

<script>
  const topButton = document.querySelector('#top-button');
  if (!!topButton) {
    topButton.addEventListener('click', () => {
      window.scrollTo(0, 0);
    });
  }
</script>
