---
export interface Props {
  fileName: string;
}
const { fileName } = Astro.props;

const today = new Date();

const tweetLink1 = 'https://twitter.com/intent/tweet?text=Reading%20%40maxwelldemaio%27s%20https%3A%2F%2Fmaxdemaio.com%2Fblog%2F';
const finalTweetLink = tweetLink1 + fileName + '%0A%0AI%20think...';
---

<footer class="prose lt-xs:px-4 px-8 max-w-3xl mx-auto text-lg">
  <p>
    <a href="/blog" title="Back to blog link">← Back</a>
    <button title="Top button" id="top-button" class="cursor-pointer float-right">
      <a>↑ Top</a>
    </button>
  </p>

  <hr />

  <p>
    <span class="font-bold text-black dark:text-white">max overflow</span> is a blog about software, language, business, and life. Sometimes my thoughts overflow and end up here for safekeeping.
  </p>
  <p>
    Feel free to
    <a href={finalTweetLink}>
      <span class="i-uil-twitter"></span>
      tweet about this blog post</a
    >! For corrections (typos, factual inaccuracies), please file a
    <a href="https://github.com/maxdemaio/max-astro/issues">
      <span class="i-uil-github"></span>
      GitHub issue</a
    >.
  </p>

  <div class="my-10">
    Website designed by Max DeMaio &copy; {today.getFullYear()}
  </div>
</footer>

<script>
  const topButton = document.querySelector('#top-button');
  if (!!topButton) {
    topButton.addEventListener('click', () => {
      window.scrollTo(0, 0);
    });
  }
</script>
