---
export interface Props {
  showEmailList?: boolean;
}

const { showEmailList } = Astro.props;
---

<style>
  @media (min-width: 770px) {
    .max-rounded-l {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0rem;
      border-bottom-right-radius: 0rem;
    }
  }

  @media (min-width: 770px) {
    .max-rounded-r {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }
  }
</style>

{
  showEmailList && (
    <div id="email-list" class="flex flex-col md:flex-row items-center border dark:border-zinc-700 border-zinc-200 rounded transition duration-300 bg-gradient-to-b from-zinc-100 to-zinc-200 dark:from-zinc-800 dark:to-zinc-900 p-6 gap-4">
      <div>
        <h3 class="text-2xl font-kai mb-4 text-black dark:text-white font-bold">
          Subscribe
          <span class="i-carbon-email h-8 w-8" />
        </h3>
        <p>
          Get notified about new blog posts, projects, and videos! Sign up if you're a cool cat
          <span class="i-noto-cat" />
        </p>
      </div>
      <form
        class="w-full flex md:flex-row flex-col gap-2 md:gap-0 md:items-center items-start justify-center"
        action="https://app.convertkit.com/forms/5586752/subscriptions"
        method="POST"
      >
        <input
          class="w-full flex-1 py-3 px-4 rounded max-rounded-l text-black outline-none"
          name="email_address"
          type="email"
          required
          placeholder="example@email.com"
        />
        <button
          class="transition duration-300 bg-primary-light hover:opacity-85 text-white rounded max-rounded-r py-3 px-4 whitespace-nowrap"
          type="submit"
        >
          Sign up
        </button>
      </form>
    </div>
  )
}
