<div id="email-list" class="flex flex-col md:flex-row items-end bg-zinc-100 dark:bg-zinc-800 p-6 rounded gap-4">
  <div>
    <h3 class="text-2xl font-kai mb-4 text-black dark:text-white font-bold">Subscribe</h3>
    <p>Get notified about new blog posts and videos! Sign up if you're a coot cat<span class="i-noto-cat ml-1"/></p>
  </div>
  <form class="w-full flex items-center justify-center sm:justify-end" action="https://app.convertkit.com/forms/5586752/subscriptions" method="POST">
    <input class="flex-1 py-3 px-4 rounded-l text-black outline-none" name="email_address" type="email" placeholder="Please enter your email" />
    <button class="transition duration-300 bg-primary-light hover:opacity-85 text-white rounded-r py-3 px-4 whitespace-nowrap" type="submit">Sign up</button>
  </form>
</div>
