<header class="mt-8 mb-10 px-8 max-w-3xl mx-auto">
  <nav class="flex items-center justify-between mx-auto">
    <a href="/" aria-label="Home link" class="text-blue-800 hover:text-blue-900">Home</a>

    <a href="/blog" aria-label="Blog link" class="text-blue-800 hover:text-blue-900">Blog</a>

    <a href="/projects" aria-label="Projects link" class="text-blue-800 hover:text-blue-900">
      Projects
    </a>
      <div class="bg-gray-200 hover:bg-gray-300">
        <div class="i-carbon-logo-github text-3xl" />

      </div>
      <div class="i-carbon-logo-twitter text-3xl" />
      <div class="i-carbon-rss text-3xl" />
      <button class="theme-toggle i-carbon-sun text-3xl dark:i-carbon-moon inline-block" />
  
   
  </nav>
</header>

<script>
  // Credits to satnaing/lancerossdev on GitHub
  // Dark/Light toggle logic
  const primaryColorScheme = "none";
  const darkModeMediaQuery = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const currentTheme = localStorage.getItem("theme");
  let theme;
  if (currentTheme) {
    theme = currentTheme === "dark" ? "dark" : "";
  } else {
    if (primaryColorScheme === "dark" || (primaryColorScheme === "none" && darkModeMediaQuery)) {
      theme = "dark";
    } else if (primaryColorScheme === "light") {
      theme = "";
    } else {
      theme = darkModeMediaQuery ? "dark" : "";
    }
  }
  document.documentElement.className = theme;

  const themeBtn = document.querySelector(".theme-toggle");
  const htmlClassList = document.documentElement.classList;
  if (!!themeBtn) {
    themeBtn.addEventListener("click", function () {
      if (htmlClassList.contains("dark")) {
        localStorage.setItem("theme", "light");
        htmlClassList.remove("dark");
      } else {
        localStorage.setItem("theme", "dark");
        htmlClassList.add("dark");
      }
    });
  }
</script>