<header class="px-8 mt-8 mb-10">
  <nav>
    <a href="/" aria-label="Home link" class="text-blue-800">Home</a>

    <a href="/blog" aria-label="Blog link" class="text-blue-800">Blog</a>

    <a href="/projects" aria-label="Projects link" class="text-blue-800">
      Projects
    </a>
    
    <div class="i-mdi-github text-3xl text-orange" />
    <div class="i-mdi-twitter text-3xl text-orange" />
    <div class="i-mdi-rss text-3xl text-orange" />
    <div class="i-mdi-theme-light-dark text-3xl text-orange" />


  </nav>
</header>
