<header class="mt-8 mb-10 px-8 max-w-3xl mx-auto">
  <nav class="font-kai flex items-center justify-between mx-auto">
    <a href="/" aria-label="Home link" class="text-primary-light dark:text-primary-dark">
      Home
    </a>
    <a href="/blog" aria-label="Blog link" class="text-primary-light dark:text-primary-dark">
      Blog
    </a>
    <a href="/projects" aria-label="Projects link" class="text-primary-light dark:text-primary-dark">
      Projects
    </a>

    <a href="https://twitter.com/maxwelldemaio" title="Twitter" class="flex lt-md:hidden w-10 h-10 p-3 bg-neutral-200 hover:bg-neutral-300 rounded dark:bg-neutral-800 dark:hover:bg-neutral-700">
      <div class="i-tabler-brand-twitter" />
    </a>
    <a href="https://github.com/maxdemaio" title="GitHub" class="flex lt-md:hidden w-10 h-10 p-3 bg-neutral-200 hover:bg-neutral-300 rounded dark:bg-neutral-800 dark:hover:bg-neutral-700">
      <div class="i-tabler-brand-github" />
    </a>
    <a href="/rss.xml" title="RSS" class="flex lt-md:hidden w-10 h-10 p-3 bg-neutral-200 hover:bg-neutral-300 rounded dark:bg-neutral-800 dark:hover:bg-neutral-700">
      <div class="i-tabler-rss" />
    </a>
    <button aria-label="Theme button" id="theme-button" class="flex w-10 h-10 p-3 bg-neutral-200 hover:bg-neutral-300 rounded dark:bg-neutral-800 dark:hover:bg-neutral-700">
      <div class="i-tabler-sun-filled dark:i-tabler-moon-stars" />
    </button>
  </nav>
</header>

<script>
  // Credits to satnaing/lancerossdev on GitHub
  // Dark and light mode toggle logic
  const darkModeMediaQuery   = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const storedTheme = localStorage.getItem("theme");
  let theme;
  if (!!storedTheme) {
    // Theme exists, choose 
    theme = storedTheme === "dark" ? "dark" : "light";
  } else {
    // Theme does not exist, check browser preference
    if (darkModeMediaQuery) {
      theme = "dark";
    } else {
      theme = darkModeMediaQuery ? "dark" : "light";
    }
  }

  // Set the theme on the <html> element
  document.documentElement.className = theme;

  const themeButton = document.querySelector("#theme-button");
  const htmlClassList = document.documentElement.classList;

  if (!!themeButton) {
    // When the theme button is clicked, change theme
    // We store the theme in local storage
    themeButton.addEventListener("click", function () {
      if (!!htmlClassList) {
        if (htmlClassList.contains("dark")) {
          localStorage.setItem("theme", "light");
          htmlClassList.remove("dark");
          htmlClassList.add("light");
        } else {
          localStorage.setItem("theme", "dark");
          htmlClassList.remove("light");
          htmlClassList.add("dark");
        }
      }
    });
  }
</script>