<header class="mt-8 mb-10 px-8 max-w-3xl mx-auto">
  <nav class="flex items-center justify-between mx-auto">
    <a href="/" aria-label="Home link" class="text-blue-800 hover:text-blue-900 dark:text-amber-500 dark:hover:text-amber-400">Home</a>

    <a href="/blog" aria-label="Blog link" class="text-blue-800 hover:text-blue-900 dark:text-amber-500 dark:hover:text-amber-400">Blog</a>

    <a href="/projects" aria-label="Projects link" class="text-blue-800 hover:text-blue-900 dark:text-amber-500 dark:hover:text-amber-400">
      Projects
    </a>
      <div class="i-carbon-logo-github text-2xl" />
      <div class="i-carbon-logo-twitter text-2xl" />
      <div class="i-carbon-rss text-2xl" />
      <button id="theme-button" class="i-carbon-sun text-2xl dark:i-carbon-moon inline-block" />
  
   
  </nav>
</header>

<script>
  // Credits to satnaing/lancerossdev on GitHub
  // Dark and light mode toggle logic
  const darkModeMediaQuery   = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const storedTheme = localStorage.getItem("theme");
  let theme;
  if (!!storedTheme) {
    // Theme exists, choose 
    theme = storedTheme === "dark" ? "dark" : "light";
  } else {
    // Theme does not exist, check browser preference
    if (darkModeMediaQuery) {
      theme = "dark";
    } else {
      theme = darkModeMediaQuery ? "dark" : "light";
    }
  }

  // Set the theme on the <html> element
  document.documentElement.className = theme;

  const themeButton = document.querySelector("#theme-button");
  const htmlClassList = document.documentElement.classList;

  if (!!themeButton) {
    // When the theme button is clicked, change theme
    // We store the theme in local storage
    themeButton.addEventListener("click", function () {
      if (!!htmlClassList) {
        if (htmlClassList.contains("dark")) {
          localStorage.setItem("theme", "light");
          htmlClassList.remove("dark");
          htmlClassList.add("light");
        } else {
          localStorage.setItem("theme", "dark");
          htmlClassList.remove("light");
          htmlClassList.add("dark");
        }
      }
    });
  }
</script>