<header class="px-8 mt-8 mb-10">
  <nav>
    <a href="/" aria-label="Home link" class="text-blue-800">Home</a>

    <a href="/blog" aria-label="Blog link" class="text-blue-800">Blog</a>

    <a href="/software" aria-label="Software link" class="text-blue-800">
      Software
    </a>
  </nav>
</header>
