<header class="px-8 mt-8 mb-10">
  <nav class="flex items-center justify-between mx-auto">
    <a href="/" aria-label="Home link" class="text-blue-800 hover:text-blue-900">Home</a>

    <a href="/blog" aria-label="Blog link" class="text-blue-800 hover:text-blue-900">Blog</a>

    <a href="/projects" aria-label="Projects link" class="text-blue-800 hover:text-blue-900">
      Projects
    </a>
      <div class="bg-gray-200 hover:bg-gray-300">
        <div class="i-carbon-logo-github text-3xl" />

      </div>
      <div class="i-carbon-logo-twitter text-3xl" />
      <div class="i-carbon-rss text-3xl" />
      <button class="i-carbon-sun text-3xl dark:i-carbon-moon inline-block" />
  
   
  </nav>
</header>
